<ion-header>
  <ion-grid no-padding>
    <ion-row *ngIf="!globalData.landscape && globalData.iPhoneX">
      <ion-col>
        <ion-label> </ion-label>
      </ion-col>
    </ion-row>
    <ion-row no-padding>
      <ion-col no-padding>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>
            Esami da sostenere
          </ion-title>
          <ion-buttons slot="end">
            <ion-back-button *ngIf="srcPage" defaultHref="{{srcPage}}" text="Indietro"></ion-back-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
  <!--
  Lo commmento perchè al momento il refresher impedisce il corretto funzionamento
  di ion-sliding quando ci troviamo all'inizio della lista!
  <ion-refresher slot="fixed" [disabled]="false" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  -->

  <ion-grid *ngIf="rinvioAggiornamento && !list" text-center>
    <ion-row>
      <ion-col text-center>
        <img class="progress" src="assets/img/progress.gif" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <ion-title><strong>Aggiornamento in corso</strong></ion-title>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <ion-label>un attimo di pazienza</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <div *ngIf="!rinvioAggiornamento && list?.length == 0">
      <ion-list>
        <ion-item text-center>Nessun dato da visualizzare</ion-item>
      </ion-list>
    </div>

    <ion-item-sliding *ngFor="let item of list">

      <ion-item>
        <ion-grid fixed no-padding>
          <ion-row class="nome-esame">
            <ion-col text-wrap>
              <div >{{item.ad_gen_des}}</div>
            </ion-col>
          </ion-row>
          <ion-row class="dati-esame">
            <ion-col size="1">
              <ion-icon name="create"></ion-icon>
            </ion-col>
            <ion-col size="3">
              <div>{{item.p09_ad_pdsord_peso_ar}} CFU</div>
            </ion-col>
            <ion-col size="1">
              <ion-icon name="information-circle"></ion-icon>
            </ion-col>
            <ion-col size="3">
              <div>{{item.p09_ad_gen_cod}}</div>
            </ion-col>
            <ion-col size="1">
              <ion-icon name="bookmark"></ion-icon>
            </ion-col>
            <ion-col size="3">
              <div>{{item.num_app_futuri}}</div>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-item>

      <ion-item-options>
        <ion-item-option *ngIf="item.num_app_futuri!=0" (click)="cercaAppello(slItem, item)">
          Appelli
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-footer  no-padding>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-spinner [hidden]="!isLoading() || !http.getConnected()"></ion-spinner>
      <fa-icon [hidden]="isLoading() || !http.getConnected()" [icon]="globalData.faLink"></fa-icon>
      <fa-icon [hidden]="isLoading() || http.getConnected()"  [icon]="globalData.faUnlink"></fa-icon>
    </ion-buttons>

    <div class="testo-footer">
      Aggiornato al: {{dataAggiornamento}}
    </div>

    <ion-buttons slot="end">
      <ion-button icon-only (click)="selezionaTab()"><ion-icon name="more"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>