<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Statistiche Esame</ion-title>
        <ion-buttons slot="end">
            <ion-back-button *ngIf="srcPage" defaultHref="{{srcPage}}"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-refresher slot="fixed" [disabled]="false" (ionRefresh)="caricaDatiEPagina($event)">
        <ion-refresher-content
                pullingIcon="arrow-round-down"
                pullingText="Rilascia per aggiornare"
                refreshingSpinner="crescent"
                refreshingText="Aggiornamento...">
        </ion-refresher-content>
    </ion-refresher>

    <h1 text-center class="titolo" padding-horizontal="10"><b>{{this.globalData.corso.DESCRIZIONE}}</b></h1>

    <div *ngIf="valutazioniPresenti;else other_content">

        <div *ngIf="!esameConGiudizio && !solo1Anno">
            <ion-card-title text-center color="medium" padding-top><b><I>Voto medio per anno</I></b></ion-card-title>
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <canvas baseChart
                                style="max-height:100%;height:auto;width:100%;max-width:100%;margin:auto;display:inline;"
                                [datasets]="lineChartData"
                                [labels]="lineChartLabels"
                                [options]="lineChartOptions"
                                [colors]="lineChartColors"
                                [legend]="lineChartLegend"
                                [chartType]="lineChartType">

                        </canvas>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="solo1Anno && !esameConGiudizio" text-center padding-bottom>
            <ion-card-title text-center color="medium" padding-top><b><I>Voto medio per anno</I></b></ion-card-title>
            <ion-label style="font-size: 1.1em">
                <strong>
                    {{anni[0]}}:
                </strong>
                {{infoAnni[anni[0]].media.toFixed(2)}}
            </ion-label>

        </div>

        <ion-item-divider [hidden]="esameConGiudizio"></ion-item-divider>

        <ion-card-title text-center color="medium" padding-top><b><I>
            Puntualità superamento
        </I></b></ion-card-title>

        <div style="display: block">
            <canvas baseChart
                    [data]="pieChartData"
                    [labels]="pieChartLabels"
                    [chartType]="pieChartType"
                    [options]="pieChartOptions">
            </canvas>
        </div>

        <ion-item-divider [hidden]="esameConGiudizio"></ion-item-divider>

        <div *ngIf="!esameConGiudizio">
            <div padding-top="30"></div>
            <ion-card-title text-center color="medium" padding-top="35"><b><I>Distribuzione voti</I></b>
            </ion-card-title>

            <div text-center>
                <!-- contenuto della label definito nel corrispondente file .ts -->
                <ion-label id="nEsamiAnno" color="medium"></ion-label>
            </div>

            <div text-center>
                <ion-button ion-button color="medium" class="button-outline"
                            (click)="openActionSheet()">{{annoSelezionato}}
                </ion-button>
            </div>

            <div>
                <div style="display: block">
                    <canvas baseChart
                            style="max-height:100%;height:auto;width:100%;max-width:100%;margin:auto;display:inline;"
                            *ngIf="aggiornamentoDispari"
                            [datasets]="barChartData"
                            [labels]="barChartLabels"
                            [options]="barChartOptions"
                            [legend]="barChartLegend"
                            [chartType]="barChartType">
                    </canvas>
                </div>

                <div style="display: block">
                    <canvas baseChart
                            style="max-height:100%;height:auto;width:100%;max-width:100%;margin:auto;display:inline;"
                            *ngIf="!aggiornamentoDispari"

                            [datasets]="barChartData"
                            [labels]="barChartLabels"
                            [options]="barChartOptions"
                            [legend]="barChartLegend"
                            [chartType]="barChartType">
                    </canvas>
                </div>
            </div>
        </div>

        <ion-textarea padding-top color="medium" *ngIf="esameConGiudizio" padding-horizontal text-center>
            L'esame è un'idoneità, <br>pertanto non prevede voti.
        </ion-textarea>

    </div>


    <ng-template #other_content>
        <div text-center>
            <ion-icon name="warning" color="warning" style="font-size: 5em; margin-top: 1em"></ion-icon>
            <ion-textarea text-wrap style="font-size: 1.2em">
                <strong>
                    Non sono presenti statistiche<br>per questa attività didattica.
                </strong>
            </ion-textarea>
        </div>

    </ng-template>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-spinner [hidden]="!isLoading() || !http.getConnected()"
                         name="crescent"></ion-spinner>
            <ion-icon [hidden]="isLoading() || !http.getConnected()" name="checkmark"></ion-icon>
            <ion-icon [hidden]="isLoading() || http.getConnected()" name="close"></ion-icon>
        </ion-buttons>

        <div class="testo-footer" text-center>
            Aggiornato al: {{getDataUltimoAggiornamentoGruppiEsami()}}
        </div>
    </ion-toolbar>
</ion-footer>
