<ion-header>
    <ion-grid no-padding>
        <ion-row *ngIf="!globalData.landscape && globalData.iPhoneX">
            <ion-col>
                <ion-label> </ion-label>
            </ion-col>
        </ion-row>
        <ion-row no-padding>
            <ion-col no-padding>
                <ion-toolbar>
                    <ion-buttons slot="start">
                        <ion-menu-button></ion-menu-button>
                    </ion-buttons>
                    <ion-title>
                        Materiale didattico
                    </ion-title>
                    <ion-buttons slot="end">
                        <ion-back-button [style]="platform.is('android') ? 'padding-right: 1em;' : ''" text=""></ion-back-button>
                        <ion-button icon-only (click)="toogleSearchbar()" *ngIf="gestioneSearchbarMaterialeDidattico()">
                            <ion-icon name="search" style="font-size: 1.5em"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                </ion-toolbar>
            </ion-col>
        </ion-row>
        <ion-row *ngIf='isSearchbarOpened && gestioneSearchbarMaterialeDidattico()'>
            <ion-searchbar #searchbar
                           *ngIf="isSearchbarOpened && gestioneSearchbarMaterialeDidattico()"
                           [(ngModel)]="searchKey"
                           placeholder="Cerca"
                           showCancelButton="true"
                           animated="true"
                           (ionCancel)="toogleSearchbar()"
                           (ngModelChange)="search()">
            </ion-searchbar>
        </ion-row>
    </ion-grid>
</ion-header>

<ion-content>

    <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
        <ion-refresher-content
                pullingIcon="arrow-round-down"
                pullingText="Rilascia per aggiornare"
                refreshingSpinner="crescent"
                refreshingText="Aggiornamento...">
        </ion-refresher-content>
    </ion-refresher>

    <ion-grid *ngIf="this.sync.isLoading(18) && !allegati" text-center>
        <ion-row>
            <ion-col>
                <img class="progress" src="assets/img/progress.gif" />
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col text-center>
                <ion-title><strong>Aggiornamento in corso</strong></ion-title>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col text-center>
                <ion-label>un attimo di pazienza</ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-list *ngIf="!this.sync.isLoading(18) && allegatiFiltrati?.length <= 0">
        <ion-item text-center>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-icon name="warning" color="warning" style="font-size: 5em; margin-top: 1em"></ion-icon>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col text-center text-wrap>
                        <ion-label text-wrap style="font-size: 1.2em"><strong>Non è presente materiale didattico per l'insegnamento di {{nome_corso}}</strong></ion-label>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-list>



    <ion-list *ngIf="allegatiFiltrati?.length > 0">

        <ion-item *ngIf="allegatiTrovati?.length <= 0" text-center lines="none">
            <ion-label text-wrap style="color:gray">
                <div>Nessun materiale didattico trovato.</div>
            </ion-label>
        </ion-item>

        <ion-item-sliding *ngFor="let file of allegatiTrovati" #ionItemSliding>
            <ion-item (click)="presentActionSheet(file)">
                <ion-grid fixed no-padding>
                    <ion-row>
                        <ion-col size="2" align-self-center="true">
                            <img src="assets/img/moodle/{{this.selezionaIcona(file)}}.png" />
                        </ion-col>
                        <ion-col size="10">
                            <ion-grid>
                                <ion-row class="nome-allegato">

                                        <div text-wrap>
                                            <strong >{{file.TITOLO}}</strong>
                                        </div>

                                </ion-row>
                                <ion-row class="docente">
                                    <div text-wrap>
                                        <ion-icon name="contact"></ion-icon>{{file.AUTORE}}
                                    </div>
                                </ion-row>
                                <ion-row class="data">

                                        <ion-label text-wrap>
                                            <fa-icon [icon]="globalData.faCalendarDay"></fa-icon> {{file.DATA_INS}}
                                        </ion-label>

                                </ion-row>
                            </ion-grid>
                        </ion-col>
                    </ion-row>
                </ion-grid>

                <ion-badge *ngIf="file.SCARICATO" slot="end" color="primary"><ion-icon name="download"></ion-icon></ion-badge>
                <ion-badge *ngIf="!file.SCARICATO" slot="end" color="danger"><ion-icon name="close"></ion-icon></ion-badge>
            </ion-item>
            <ion-item-options side="end">

                <ion-item-option color="secondary" (click)="goToDettagliFile(file)" text-center="">
                    <ion-icon name="information-circle"></ion-icon>
                    Dettagli<br>file
                </ion-item-option>

                <ion-item-option *ngIf="!file.SCARICATO" color="primary" (click)="presentAlertConfermaDownload(file, ionItemSliding)">
                    <ion-icon name="download"></ion-icon>
                    Download
                </ion-item-option>

                <ion-item-option *ngIf="file.SCARICATO" color="waring" (click)="presentAlertConfermaApertura(file, ionItemSliding)">
                    <ion-icon name="easel"></ion-icon>
                    Apri<br>file
                </ion-item-option>

                <ion-item-option *ngIf="file.SCARICATO" color="danger" (click)="presentAlertConfermaRimozione(file, ionItemSliding)">
                    <ion-icon name="trash"></ion-icon>
                    Rimuovi<br>file
                </ion-item-option>

            </ion-item-options>
        </ion-item-sliding>

    </ion-list>

</ion-content>

<ion-footer  no-padding>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-icon [hidden]="!http.getConnected()"  name="checkmark"></ion-icon>
            <ion-icon [hidden]="http.getConnected()"  name="close"></ion-icon>
        </ion-buttons>

        <div class="testo-footer">
            Aggiornato al: {{this.sync.getDataUltimoAggiornamento(18)}}
        </div>

        <ion-buttons slot="end">
            <ion-spinner *ngIf="isLoading()" name="crescent"></ion-spinner>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>



