<ion-header>
  <ion-grid no-padding>
    <ion-row *ngIf="!globalData.landscape && globalData.iPhoneX">
      <ion-col>
        <ion-label> </ion-label>
      </ion-col>
    </ion-row>
    <ion-row no-padding>
      <ion-col no-padding>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>
            Esami sostenuti
          </ion-title>
          <ion-buttons slot="end">
            <ion-buttons slot="end">
              <ion-back-button defaultHref="/home" text="Indietro"></ion-back-button>
            </ion-buttons>
          </ion-buttons>
        </ion-toolbar>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
  <ion-grid *ngIf="rinvioAggiornamento && !storico" text-center>
    <ion-row>
      <ion-col text-center>
        <img class="progress" src="assets/img/progress.gif" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <ion-title><strong>Aggiornamento in corso</strong></ion-title>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <ion-label>un attimo di pazienza</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list *ngIf="!rinvioAggiornamento && storico?.length == 0">
    <ion-item text-center>
      <ion-grid>
        <ion-row>
          <ion-col>
            <h2>Nessun esame presente</h2>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <img class="logo" src="assets/img/sad.png" />
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="storico?.length > 0">
    <ion-item *ngFor="let item of storico">
      <ion-grid fixed no-padding>
        <ion-row>
          <ion-col size="10">
            <ion-row>
              <ion-col text-wrap>
                <div class="nome-esame">{{ item.descrizione }}</div>
              </ion-col>
            </ion-row>
            <ion-row class="dati-esame">
              <ion-col size="1">
                <ion-icon name="create"></ion-icon>
              </ion-col>
              <ion-col size="4">
                <div>{{ item.peso }} CFU</div>
              </ion-col>
              <ion-col *ngIf="item.voto" size="1">
                <ion-icon name="calendar"></ion-icon>
              </ion-col>
              <ion-col *ngIf="item.voto" size="4">
                <div>{{item.data_sup | slice:0:10}}</div>
              </ion-col>
              <ion-col *ngIf="!item.voto" size="1">
                <ion-icon name="information-circle"></ion-icon>
              </ion-col>
              <ion-col *ngIf="!item.voto" size="4">
                <div>{{item.codice}}</div>
              </ion-col>
              <ion-col *ngIf="!item.voto" size="1">
                <ion-icon name="bookmark"></ion-icon>
              </ion-col>
              <ion-col *ngIf="!item.voto" size="1">
                <div>{{item.num_app_futuri}}</div>
              </ion-col>
            </ion-row>
          </ion-col>

          <ion-col *ngIf="item.voto" size="2" align-self-center>
            <div *ngIf="item.voto!='30 e lode'">
              <ion-col>
                <div class="voto">{{item.voto | slice:0:3}}</div>
              </ion-col>
            </div>
            <div *ngIf="item.voto=='30 e lode'">
              <ion-col>
                <div class="voto">30L</div>
              </ion-col>
            </div>
          </ion-col>
          <ion-col *ngIf="!item.voto" size="2">
            <div>
              <ion-col>
                <div class="voto">{{item.sta_sce_cod | slice:0:3}}</div>
              </ion-col>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-item>

  </ion-list>

</ion-content>

<ion-footer  no-padding>
  <ion-toolbar>
    <ion-buttons slot="start">
      <fa-icon [hidden]="!http.getConnected()" [icon]="globalData.faLink"></fa-icon>
      <fa-icon [hidden]="http.getConnected()"  [icon]="globalData.faUnlink"></fa-icon>
    </ion-buttons>

    <div class="testo-footer">
      Aggiornato al: {{dataAggiornamento}}
    </div>

    <ion-buttons slot="end" no-padding>
      <ion-icon slot="icon-only" src="assets/icon/blank.png"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>