.tutorial-page {

  .toolbar-background {
    background: #FFF;
    border-color: transparent;
  }

  .slide-zoom {
    height: 90%;
  }

  .slide-title {
    margin-top: 0.5rem;
    font-size: 1.0rem;
  }

  .slide-image {
    max-height: 50%;
    max-width: 60%;
    margin: auto;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 0;
    font-size: 0.8rem;
    line-height: 1.2;
    color: #60646B;

    b {
      color: #000000;
    }
  }

}
