page-medie {
  range-ios-pin-font-size: 24px;

  .medie ion-col div {
    background-color: #f0f5ff;
    border: 1px solid #e6e9ee;
    border-radius: 1px;
    padding: 2px;
    text-align: center;
  }

  .headerMedie ion-col div {
    background-color: #8db1ff;
  }

  .headerMedie div {
    background-color: #8db1ff;
  }
}
