<ion-content no-padding>
  <div>
    <ion-title>
      Filtri
    </ion-title>

    <ion-list>
      <ion-item>
        <ion-searchbar [(ngModel)]="page.searchTerm" (ionCancel)="applicaFiltri()" (ionInput)="applicaFiltri()"></ion-searchbar>
      </ion-item>

      <ion-item>
        <ion-label>Se Presidente</ion-label>
        <ion-toggle [(ngModel)]="page.presidente" (ionChange)="applicaFiltri()"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Con prenotazioni</ion-label>
        <ion-toggle [(ngModel)]="page.prenotati" (ionChange)="applicaFiltri()"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Senza verbalizzazioni</ion-label>
        <ion-toggle [(ngModel)]="page.nonVerbalizzati" (ionChange)="applicaFiltri()"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Con verbalizzazioni</ion-label>
        <ion-toggle [(ngModel)]="page.verbalizzati" (ionChange)="applicaFiltri()"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Futuri</ion-label>
        <ion-toggle [(ngModel)]="page.futuri" (ionChange)="applicaFiltri()"></ion-toggle>
      </ion-item>

      <ion-item-sliding #filtraDa>
        <ion-item>
          <ion-label>Dal</ion-label>
          <ion-datetime cancelText="Annulla" doneText="Fatto" displayFormat="DD MMM YYYY" min="2017" max="2020-10-31" monthNames="{{monthNames}}" monthShortNames="{{monthShortNames}}"  [(ngModel)]="page.dal" (ionChange)="applicaFiltri()"></ion-datetime>
        </ion-item>
        <ion-item-options side="end">
          <ion-button color="primary" (click)="azzeraFiltraDa(filtraDa)">
            <ion-icon name="refresh"></ion-icon> Azzera
          </ion-button>
          <ion-button color="primary" (click)="filtraDaOggi(filtraDa)">
            <ion-icon name="calendar"></ion-icon> Oggi
          </ion-button>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding #filtraA>
        <ion-item>
          <ion-label>Al</ion-label>
          <ion-datetime cancelText="Annulla" doneText="Fatto" displayFormat="DD MMM YYYY" min="2017" max="2020-10-31" monthNames="{{monthNames}}" monthShortNames="{{monthShortNames}}" [(ngModel)]="page.al" (ionChange)="applicaFiltri()"></ion-datetime>
        </ion-item>
        <ion-item-options side="end">
          <ion-button color="primary" (click)="azzeraFiltraA(filtraA)">
            <ion-icon name="refresh"></ion-icon> Azzera
          </ion-button>
          <ion-button color="primary" (click)="filtraAOggi(filtraA)">
            <ion-icon name="calendar"></ion-icon> Oggi
          </ion-button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <ion-grid>
      <ion-row>
        <ion-col text-center>
          <ion-button icon-start (click)="reset()">
            <ion-icon name="refresh"></ion-icon>Reset
          </ion-button>
        </ion-col>
        <ion-col text-center>
          <ion-button icon-start (click)="chiudi()">
            <ion-icon name="close"></ion-icon>Chiudi
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>