<ion-tabs>

   <!-- <ion-tab-bar slot="bottom">

        <ion-tab-button tab="piano-di-studi">
            <ion-icon name="school"></ion-icon>
            <ion-label>Piano di Studi</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="libretto">
            <ion-icon name="list-box"></ion-icon>
            <ion-label>Libretto</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="lista-esami">
            <ion-icon name="list"></ion-icon>
            <ion-label>Esami da sostenere</ion-label>
        </ion-tab-button>

   </ion-tab-bar> -->

</ion-tabs>

