<ion-tabs tabbar-hidden>
  <ion-tab label="Piano di studi" icon="school" href="/carriera/tab/(piano-di-studi:piano-di-studi)">
    <ion-router-outlet name="piano-di-studi"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Libretto" icon="list-box" href="/carriera/tab/(libretto:libretto)">
    <ion-router-outlet name="libretto"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Esami da sostenere" icon="list" href="/carriera/tab/(lista-esami:lista-esami)">
    <ion-router-outlet name="lista-esami"></ion-router-outlet>
  </ion-tab>
</ion-tabs>
