ion-item {
  --min-height: 0em;
}

.preferenze{
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.text{
  font-size: 1.5em;
  padding-top: 0.5em;
  padding-left: 2.5em;
  text-align: center;
  width: 100%;
  @media screen and (max-width: 440px) {
    font-size: 1.2em;
    margin-top: 0.3em;
    padding-left: 1.5em;
  }
}

.exit{
  margin-top: 1em;
  margin-right: 1em;
  width: 2em;
  height: 2em;
  @media screen and (max-width: 450px) {
    width: 1.5em;
    height: 1.5em;
  }
}

.docente{
  font-size: 0.9em;
}

