<ion-header>
  <ion-grid no-padding>
    <ion-row *ngIf="!globalData.landscape && globalData.iPhoneX">
      <ion-col>
        <ion-label> </ion-label>
      </ion-col>
    </ion-row>
    <ion-row no-padding>
      <ion-col no-padding>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>
            Dettaglio esame
          </ion-title>
          <ion-buttons slot="end">
            <ion-back-button *ngIf="srcPage" defaultHref="{{srcPage}}" text="Indietro"></ion-back-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>

  <ion-card text-wrap *ngIf="esame">

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            Descrizione:
          </ion-col>
          <ion-col>
            {{esame.DESCRIZIONE}}
          </ion-col>
        </ion-row>
        <ion-row *ngIf="esame.COGNOME">
          <ion-col>
            Docente titolare:
          </ion-col>
          <ion-col>
            {{esame.NOME}} {{esame.COGNOME}}
          </ion-col>
        </ion-row>
        <ion-row *ngIf="esame.COGNOME_NT">
          <ion-col>
            Altri docenti:
          </ion-col>
          <ion-col>
            {{esame.NOME_NT}} {{esame.COGNOME_NT}}
          </ion-col>
        </ion-row>
        <ion-row *ngIf="esame.ANNO">
          <ion-col>
            Anno:
          </ion-col>
          <ion-col>
            {{esame.ANNO}}
          </ion-col>
        </ion-row>
        <ion-row *ngIf="esame.CFU">
          <ion-col>
            CFU:
          </ion-col>
          <ion-col>
            {{esame.CFU}}
          </ion-col>
        </ion-row>
        <ion-row *ngIf="esame.DATA_ESAME">
          <ion-col>
            Data esame:
          </ion-col>
          <ion-col>
            {{esame.DATA_ESAME}}
          </ion-col>
        </ion-row>
        <ion-row *ngIf="esame.DATA_VERBALE">
          <ion-col>
            Data verbale:
          </ion-col>
          <ion-col>
            {{esame.DATA_VERBALE}}
          </ion-col>
        </ion-row>
        <ion-row *ngIf="esame.VOTO">
          <ion-col>
            Voto:
          </ion-col>
          <ion-col>
            {{esame.VOTO}} <span *ngIf="esame.LODE == 1">e lode</span>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="esame.GIUDIZIO">
          <ion-col>
            Esito:
          </ion-col>
          <ion-col>
            {{esame.GIUDIZIO}}
          </ion-col>
        </ion-row>
        <ion-row *ngIf="esame.SOVRANNUMERARIA == 1 || esame.NO_MEDIA == 1">
          <ion-col>
            <strong>Informazioni agguntive</strong>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="esame.SOVRANNUMERARIA == 1">
          <ion-col>
            Esame in sovrannumero
          </ion-col>
        </ion-row>
        <ion-row *ngIf="esame.NO_MEDIA == 1">
          <ion-col>
            Questo esame non è incluso nel calcolo della media
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>


  </ion-card>

  <ion-card text-wrap *ngIf="!esame">
    <ion-card-header text-center text-wrap ng-bind-html="snippet">
      <ion-label color="primary"><h1>Ops!</h1></ion-label>
    </ion-card-header>
    <ion-card-content>
      <ion-label text-center text-wrap>
        Si è verificato un problema durante l'accesso ai deti relativi all'esame.
      </ion-label>
      <ion-label text-center text-wrap>
        Utilizza il tasto Back in alto per selezionare nuovamente l'elemento da visualizzare.
      </ion-label>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer  no-padding>
  <ion-toolbar>
    <ion-buttons slot="start">
      <fa-icon [hidden]="!http.getConnected()" [icon]="globalData.faLink"></fa-icon>
      <fa-icon [hidden]="http.getConnected()"  [icon]="globalData.faUnlink"></fa-icon>
    </ion-buttons>
    <div class="testo-footer">
    </div>
    <ion-buttons slot="end" no-padding>
      <ion-icon slot="icon-only" src="assets/icon/blank.png"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>