
.button{
  max-width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin: 0 auto 1em auto;
  ion-button{
    width: 20em;
    height: auto;
  }

}

.buttons{
  margin-left: 20em;
  margin-right: 20em;
  @media screen and (max-width: 1142px) {
    margin: auto;
  }
}
.exit{
  max-width: 4em;
  margin: 1em 1em 0 95%;
  @media screen and (max-width: 1142px) {
    margin: 1em 1.5em 0 90%;
  }
  ion-button{
    padding: 0;
  }
  ion-icon{
    padding: 0 auto;
  }
}
