ion-item {
  --min-height: 0em;
}

.button{
  max-width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin: 0.5em auto 1em auto;
  padding-bottom: 0;
  ion-button{
    width: 20em;
    height: auto;
  }
  @media screen and (max-width: 450px) {
    margin: 0.2em 1em 0.2em 1em;
  }

}

.buttons{
  margin-left: 20em;
  margin-right: 20em;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-bottom: 0;
  @media screen and (max-width: 1827px) {
    margin-left: 5em;
    margin-right: 5em;
  }
  @media screen and (max-width: 1142px) {
    margin-left: 5em;
    margin-right: 5em;
  }
  @media screen and (max-width: 450px) {
    margin: 0.5em 1em  1em;

  }
}
.preferenze{
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.text{
  font-size: 1.5em;
  padding-top: 0.5em;
  padding-left: 2.5em;
  text-align: center;
  width: 100%;
  @media screen and (max-width: 440px) {
    font-size: 1.2em;
    margin-top: 0.3em;
    padding-left: 1.5em;
  }
}
.exit{
  margin-top: 1em;
  margin-right: 1em;
  width: 2em;
  height: 2em;
  @media screen and (max-width: 450px) {
    width: 1.5em;
    height: 1.5em;
  }

}
ion-list-header{
  margin-left: 0.5em;
}
.mostraLabel{
  display: none;
}

.menuOrdinamento{
  align-items: center;
  max-width: 100%;

}
.list-md{
  padding-right: 1em;
  paddign-left: 0.8em;
}

.selezione{
  width: 100%;
  justify-content: center;

}
