<ion-content>
    <div class="exit"><ion-button (click)="closeAppelli()" color="danger"><strong>X</strong></ion-button></div>
    <ion-list>
        <ion-radio-group [(ngModel)]="sourcePage.filtro.idOrdinamento" (ngModelChange)="updateSourcePage()">

            <ion-list-header text-center><b>Ordina per:</b></ion-list-header>

            <ion-item>
                <ion-label>Nome appello</ion-label>
                <ion-radio [value]=0></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Data esame</ion-label>
                <ion-radio [value]=2></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>CFU</ion-label>
                <ion-radio [value]=4></ion-radio>
            </ion-item>
        </ion-radio-group>
    </ion-list>

  <div class="button">

    <ion-button  expand="block" size="small"  fill="outline" *ngIf="sourcePage.filtro.tipoOrdinamento"
                 (click)="sourcePage.filtro.tipoOrdinamento = 0; updateSourcePage()">
      <ion-icon name="arrow-round-down"></ion-icon>
      <p>Decrescente</p>
    </ion-button>
    <ion-button  expand="block" size="small" fill="outline" *ngIf="!sourcePage.filtro.tipoOrdinamento"
                (click)="sourcePage.filtro.tipoOrdinamento = 1; updateSourcePage()">
      <ion-icon name="arrow-round-up"></ion-icon>
     <p>Crescente</p>
    </ion-button>

  </div>
    <ion-list>
        <ion-list-header text-center><b>Filtra per:</b></ion-list-header>

        <ion-item>
            <ion-label>Scritto</ion-label>
             <ion-toggle [(ngModel)]="sourcePage.filtro.filtraScritto" (ngModelChange)="checkfiltraScritti()"></ion-toggle>
        </ion-item>

        <ion-item>
            <ion-label>Orale</ion-label>
            <ion-toggle [(ngModel)]="sourcePage.filtro.filtraOrale" (ngModelChange)="checkfiltroOrale()"></ion-toggle>
        </ion-item>

        <ion-item>
            <ion-label>Scritto e Orale</ion-label>
            <ion-toggle [(ngModel)]="sourcePage.filtro.filtraScrittoOrale" (ngModelChange)="checkfiltriScrittoOrale()"></ion-toggle>
        </ion-item>

        <ion-item>
            <ion-label>Anno</ion-label>
            <ion-select [(ngModel)]="sourcePage.filtro.filtroPerAnno" (ngModelChange)="updateSourcePage()"
                        cancelText="Annulla" value="0">
                <ion-select-option [value]="0">
                    Nessuno
                </ion-select-option>
                <ion-select-option *ngFor="let anno of sourcePage.filtro.getIterableAnni()" [value]="anno">
                    {{anno}}° anno
                </ion-select-option>
            </ion-select>
        </ion-item>
    </ion-list>

<div class="buttons">
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-button style="width:100%" (click)="reset()">
                    <ion-icon name="refresh"></ion-icon>
                    <p>Reset</p>
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button (click)="memorizzaFiltri()" style="width: 100%">
                    <ion-icon name="bookmark"></ion-icon>
                    <p>Memorizza</p>
                </ion-button>
            </ion-col>

        </ion-row>
        <ion-row>
            <ion-col>
            <ion-button (click)="closeAppelli()" style="width:100%" color="danger">
                <ion-icon name="close"></ion-icon>
                <p>Chiudi</p>
            </ion-button>
        </ion-col>
        </ion-row>
    </ion-grid>
</div>

</ion-content>
