
.button{
  max-width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin: 1em auto 0.5em auto;
  padding-bottom: 0;
  ion-button{
    width: 20em;
    height: auto;
  }

}

.buttons{
  margin-left: 20em;
  margin-right: 20em;
  padding-bottom: 0;
  margin-bottom: 0;
  @media screen and (max-width: 1142px) {
    margin: auto auto 0 auto;
  }
}
.exit{
  max-width: 4em;
  margin: 1em 1em 0 95%;
  @media screen and (max-width: 1142px) {
    margin: 0.5em 0.5em 0 90%;

    align: center;
  }
  ion-button{
    padding: 0;
    height: 2em;
    width: 2em;
    align:right;
  }
}
ion-list{
  margin-top: 0;
  padding-top: 0;
}
