<ion-content>
    <ion-list>
        <ion-radio-group [(ngModel)]="sourcePage.filtro.idOrdinamento" (ngModelChange)="updateSourcePage()">

<!--<style>
  .round {
    position: relative;
    --left: 1em;
    width: 12em;
    height: 30px;




  }

</style>-->

            <ion-list-header text-center><b>Ordina per:</b></ion-list-header>

            <ion-item>
                <ion-label>Nome appello</ion-label>
                <ion-radio [value]=0></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Data esame</ion-label>
                <ion-radio [value]=2></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>CFU</ion-label>
                <ion-radio [value]=4></ion-radio>
            </ion-item>
        </ion-radio-group>
    </ion-list>

  <div class="button">

    <ion-button  expand="block" size="small"  fill="outline" *ngIf="sourcePage.filtro.tipoOrdinamento"
                 (click)="sourcePage.filtro.tipoOrdinamento = 0; updateSourcePage()">
      <ion-icon name="arrow-round-down"></ion-icon>
      Decrescente
    </ion-button>
    <ion-button  expand="block" size="small" fill="outline" *ngIf="!sourcePage.filtro.tipoOrdinamento"
                (click)="sourcePage.filtro.tipoOrdinamento = 1; updateSourcePage()">
      <ion-icon name="arrow-round-up"></ion-icon>
      Crescente
    </ion-button>

  </div>




    <ion-list>
        <ion-list-header text-center><b>Filtra per:</b></ion-list-header>

        <ion-item>
            <ion-label>Tipologia</ion-label>
            <ion-select [(ngModel)]="sourcePage.filtro.filtraScrittoOrale" (ngModelChange)="updateSourcePage()"
                        cancelText="Annulla" value="0">
                <ion-select-option [value]="0">Nessuno</ion-select-option>
                <ion-select-option [value]="1">Scritto</ion-select-option>
                <ion-select-option [value]="2">Orale</ion-select-option>
                <ion-select-option [value]="3">Scritto/Orale</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Anno</ion-label>
            <ion-select [(ngModel)]="sourcePage.filtro.filtroPerAnno" (ngModelChange)="updateSourcePage()"
                        cancelText="Annulla" value="0">
                <ion-select-option [value]="0">
                    Nessuno
                </ion-select-option>
                <ion-select-option *ngFor="let anno of sourcePage.filtro.getIterableAnni()" [value]="anno">
                    {{anno}}° anno
                </ion-select-option>
            </ion-select>
        </ion-item>
    </ion-list>

    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-button style="width:100%" (click)="reset()">
                    <ion-icon name="refresh"></ion-icon>
                    Reset
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button (click)="closeAppelli()" style="width:100%" color="danger">
                    <ion-icon name="close"></ion-icon>
                    Chiudi
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button (click)="memorizzaFiltri()" style="width: 100%">
                    <ion-icon name="bookmark"></ion-icon>
                    Memorizza
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
