ion-item {
  --padding-start:0px;
  --inner-padding-end:0px;
}

.materiale-laterale{
  max-width: 4em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  height: 100%;
  
  ion-icon{
    height: 100%;
    border-right: 1px solid #dedede;
  }
}
