<ion-header>
    <ion-grid no-padding>
        <ion-row *ngIf="!globalData.landscape && globalData.iPhoneX">
            <ion-col>
                <ion-label></ion-label>
            </ion-col>
        </ion-row>
        <ion-row no-padding>
            <ion-toolbar>
                <ion-buttons slot="start">
                    <ion-menu-button></ion-menu-button>
                </ion-buttons>

                <ion-title>Appelli</ion-title>

                <ion-buttons slot="end">

                    <ion-button icon-only *ngIf="filtro.isActive()" (click)="resetFiltri()">
                        <ion-icon src="../../../../assets/icon/filter_reset.svg"></ion-icon>
                    </ion-button>

                    <ion-back-button *ngIf="ad_id_insegnamento" style="padding-right: 1em;" text=""
                                     icon="md-arrow-round-back"></ion-back-button>

                    <ion-button (click)="openFiltri()" *ngIf="mostraIcone()">
                        <ion-icon name="switch"></ion-icon>
                    </ion-button>

                    <ion-button (click)="toogleSearchbar()" *ngIf="mostraIcone()">
                        <ion-icon name="search" style="font-size: 1.5em;"></ion-icon>
                    </ion-button>
                </ion-buttons>
            </ion-toolbar>
        </ion-row>


        <ion-row *ngIf='isSearchbarOpened && gestioneSearchbarAppelli()'>
            <ion-searchbar
                #searchbar
                *ngIf="isSearchbarOpened && gestioneSearchbarAppelli() "
                [(ngModel)]="searchKey"
                placeholder="Cerca"
                showCancelButton="true"
                (ionCancel)="toogleSearchbar()"
                (ngModelChange)="search()">
            </ion-searchbar>
        </ion-row>

        <!--<ion-row no-padding>
            <ion-col no-padding>
                <ion-button expand="full" fill="none" >Allah {{getNumAppelliDisponibiliAsString()}}</ion-button>
            </ion-col>
            <ion-col no-padding>
                <ion-button expand="full" fill="none">Akbar {{getNumPrenotazioniAsString()}}</ion-button>
            </ion-col>
        </ion-row>-->

       <!-- -->

    </ion-grid>
</ion-header>


<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)" [disabled]="ad_id_insegnamento == ''" slot="fixed">
        <ion-refresher-content
                pullingIcon="arrow-round-down"
                pullingText="Rilascia per aggiornare"
                refreshingSpinner="crescent"
                refreshingText="Aggiornamento...">
        </ion-refresher-content>
    </ion-refresher>

    <ion-item class="tab">
        <ion-segment [(ngModel)]="sezioni">
            <ion-segment-button value="disponibili">
                Disponibili </ion-segment-button>
            <ion-segment-button *ngIf="ad_id_insegnamento !== ''" value="prenotati">
                Prenotati </ion-segment-button>
        </ion-segment>
    </ion-item>


    <ion-list *ngIf="sezioni === 'disponibili'">
        <ion-grid *ngIf="appelli?.length == 0 && !http.connected" text-center>
            <ion-row>
                <ion-col>
                    <ion-icon name="warning" color="warning" style="font-size: 5em"></ion-icon>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col text-center>
                    <ion-title><strong>Nessun appello in memoria</strong></ion-title>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col text-center>
                    <ion-label>Controlla la connessione e aggiorna la pagina</ion-label>
                </ion-col>
            </ion-row>
        </ion-grid>


        <ion-grid *ngIf="appelli?.length > 0">

            <ion-item *ngIf="appelliTrovati?.length <= 0" text-center lines="none">
                <ion-label text-wrap style="color:gray">
                    {{nome_corso? 'Nessun appello trovato per l\'esame di ' + nome_corso: 'Nessun appello trovato.'}}
                    <br>
                    {{filtro.isActive()? 'Si prega di modificare le preferenze inserite.' : ''}}
                </ion-label>
            </ion-item>

            <div *ngFor="let appello of appelliTrovati; let i = index">
                <ion-item
                        *ngIf="(filtro.idOrdinamento === 0) && (i===0 || (appelliTrovati[i-1] && appelliTrovati[i].getDataEsame().getTime() !== appelliTrovati[i-1].getDataEsame().getTime() ))">
                    <ion-title text-center style="font-size: 85% ">{{appello.data_ora_app.substring(0, 10)}}</ion-title>
                </ion-item>
                <ion-item
                        *ngIf="(filtro.idOrdinamento === 2) && (i===0 || (appelliTrovati[i-1] && appelliTrovati[i].descrizione.charAt(0) !== appelliTrovati[i-1].descrizione.charAt(0)))">
                    <ion-title text-center style="font-size: 90% ">{{appello.descrizione.charAt(0)}}</ion-title>
                </ion-item>
                <ion-item
                        *ngIf="(filtro.idOrdinamento === 4) && (i===0 || (appelliTrovati[i-1] && corsiMap.get(appelliTrovati[i].ad_id).CFU !== corsiMap.get(appelliTrovati[i-1].ad_id).CFU))">
                    <ion-title text-center style="font-size: 90% ">{{corsiMap.get(appello.ad_id).CFU}} CFU</ion-title>
                </ion-item>
                <ion-item
                        *ngIf="(filtro.idOrdinamento === 6) && (i===0 || (appelliTrovati[i-1] && corsiMap.get(appelliTrovati[i].ad_id).ANNO !== corsiMap.get(appelliTrovati[i-1].ad_id).ANNO))">
                    <ion-title text-center style="font-size: 90% ">{{corsiMap.get(appello.ad_id).ANNO}}° ANNO
                    </ion-title>
                </ion-item>


                <ion-item-sliding #itemSliding >

                    <ion-item (click)="presentActionSheet(appello)">

                        <ion-grid>
                            <div>
                                <ion-row>
                                    <ion-col>
                                        <ion-icon name="md-book" style="position: relative; top: 2px;"></ion-icon>
                                        <b> {{ appello.getDescrizionePulita()}}</b>
                                    </ion-col>
                                </ion-row>
                            </div>


                            <ion-row *ngIf="appello.p10_app_des && appello.p10_app_des != appello.descrizione">
                                <ion-col class="countdown">
                                    <div>{{ appello.getDescrizionePulita() }}</div>
                                </ion-col>
                            </ion-row>

                            <ion-row>
                                <ion-col size="1">
                                    <ion-icon name="time"></ion-icon>
                                </ion-col>
                                <ion-col size="9">
                                    <div>{{appello.data_ora_app | slice:0:16}}</div>
                                </ion-col>
                            </ion-row>

                            <ion-row>
                                <ion-col size="1">
                                    <ion-icon name="calendar"></ion-icon>
                                </ion-col>
                                <ion-col size="10">
                                    <div>{{appello.p10_app_data_inizio_iscr | slice:0:10}}
                                        - {{appello.p10_app_data_fine_iscr | slice:0:10}}</div>
                                </ion-col>
                            </ion-row>

                            <ion-row>
                                <ion-col size="1" *ngIf="appello.tipo_iscr_des">
                                    <fa-icon [icon]="globalData.faPencilAlt" style="font-size: 0.9em"></fa-icon>
                                </ion-col>
                                <ion-col *ngIf="appello.tipo_iscr_des">
                                    <div>{{appello.tipo_iscr_des}}</div>
                                </ion-col>

                                <ion-col *ngIf="appello.prenotabile_flg==1 && appello.tot_iscritti==0">
                                    <ion-icon name="people" style="color:red"></ion-icon>
                                    &nbsp;&nbsp;{{appello.tot_iscritti}}
                                </ion-col>

                                <ion-col *ngIf="appello.prenotabile_flg==1 && appello.tot_iscritti>0">
                                    <ion-icon name="people"
                                              style="color:green; position: relative; top: 2px;"></ion-icon>
                                    &nbsp;&nbsp;{{appello.tot_iscritti}}
                                </ion-col>
                            </ion-row>


                            <ion-row
                                    *ngIf="!appello.isPrenotabile()  && appello.isBeforeApertura()">
                                <ion-col>
                                    <ion-card-subtitle class="countdown" style="color:royalblue">
                                        <I>{{appello.giorniRimanentiPrimaDellApertura() == 1? 'Manca ' + appello.giorniRimanentiPrimaDellApertura() + ' giorno' : 'Mancano ' + appello.giorniRimanentiPrimaDellApertura() + ' giorni'}} all'apertura
                                            dell'appello</I>
                                    </ion-card-subtitle>
                                </ion-col>
                            </ion-row>




                            <ion-row *ngIf=" appello.p10_app_note" color="lightgrey">
                                <ion-col>
                                    <ion-card-subtitle class="countdown">
                                        <I>NOTA: {{appello.p10_app_note}}</I>
                                    </ion-card-subtitle>
                                </ion-col>
                            </ion-row>


                            <ion-row
                                    *ngIf="appello.isPrenotabile() && appello.isBeforeChiusura() ">
                                <ion-col>
                                    <ion-card-subtitle class="countdown" style="color:crimson">
                                        <I>{{appello.giorniRimanentiPrimaDellaChiusura() == 1? "Prenota l'appello entro " + appello.giorniRimanentiPrimaDellaChiusura() + ' giorno.' : "Prenota l'appello entro " + appello.giorniRimanentiPrimaDellaChiusura() + ' giorni.' }}</I>
                                    </ion-card-subtitle>
                                </ion-col>
                            </ion-row>


                        </ion-grid>
                    </ion-item>

                    <ion-item-options side="end" slot="top">
                        <ion-item-option (click)="goToDettagliCorso(appello)" class="swipeDettagliCorso" text-center>
                            Dettagli<br>corso
                        </ion-item-option>
                        <ion-item-option (click)="goToMaterialeDidattico(appello)" class="swipeMaterialoDidattico" text-center>
                            Materiale<br>didattico
                        </ion-item-option>
                        <ion-item-option *ngIf="appello.isPrenotabile()"
                                         (click)="prenotaAppello(itemSliding,appello)" class="swipeAppelli">
                            Prenota
                        </ion-item-option>
                    </ion-item-options>
                </ion-item-sliding>
            </div>
        </ion-grid>
    </ion-list>


    <ion-list *ngIf="sezioni === 'prenotati'">


        <ion-item *ngIf="prenotazioni?.length == 0 && !appelliService.isAppelliPrenotatiLoading()" text-center>
            <ion-grid>
                <ion-row>
                    <ion-col text-center>
                        <h2>Non sono state effettuate prenotazioni</h2>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>

        <ion-grid *ngIf="prenotazioni?.length > 0" text-center>
            <ion-row>
                <ion-col>
                    <ion-item-sliding #itemSliding *ngFor="let prenotazione of prenotazioni">
                        <ion-item>
                            <ion-grid>
                                <ion-row>
                                    <ion-col text-wrap>
                                        <ion-icon name="bookmarks"></ion-icon>
                                        <b> {{ prenotazione.getDescrizionePulita() }}</b>
                                    </ion-col>
                                </ion-row>
                                <ion-row *ngIf="prenotazione.app_des && prenotazione.app_des != prenotazione.ad_des">
                                    <ion-col text-wrap>
                                        <div>{{ prenotazione.getDescrizionePulita() }}</div>
                                    </ion-col>
                                </ion-row>

                                <ion-row>
                                    <ion-col size="1">
                                        <ion-icon name="person"></ion-icon>
                                    </ion-col>
                                    <ion-col size="11">
                                        <div>{{ prenotazione.presidente }}</div>
                                    </ion-col>
                                </ion-row>

                                <ion-row>
                                    <ion-col size="1">
                                        <ion-icon name="time"></ion-icon>
                                    </ion-col>
                                    <ion-col size="11">
                                        <div>{{prenotazione.data_ora_app  | slice:0:16}}</div>
                                    </ion-col>
                                </ion-row>

                                <ion-row>
                                    <ion-col size="1">
                                        <ion-icon name="settings"></ion-icon>
                                    </ion-col>
                                    <ion-col>
                                        {{prenotazione.tipo_iscr}}
                                    </ion-col>
                                    <ion-col>
                                        <ion-icon name="person"
                                                  style="color:green; position: relative; top: 2px;"></ion-icon>
                                        &nbsp;{{prenotazione.posiz}}°
                                    </ion-col>
                                </ion-row>


                                <ion-row>
                                    <ion-row *ngIf="prenotazione.isAfterEsame()" text-center>
                                        <ion-col color="lightgrey">
                                            <ion-card-subtitle class="countdown" style="color:green">

                                                <I>{{prenotazione.giorniPassatiDopoEsame() == 1? "L'esame è stato sostenuto " + prenotazione.giorniPassatiDopoEsame() + ' giorno fa.' : "L'esame è stato sostenuto " + prenotazione.giorniPassatiDopoEsame() + ' giorni fa.' }}</I>


                                            </ion-card-subtitle>
                                        </ion-col>
                                    </ion-row>


                                    <ion-row *ngIf="prenotazione.isBeforeEsame()" text-center>
                                        <ion-col color="lightgrey">
                                            <ion-card-subtitle class="countdown" style="color:darkcyan">

                                                <I>{{ prenotazione.giorniRimanentiPrimaDellEsame() == 1? "Dovrai sostenere l'esame tra " +  prenotazione.giorniRimanentiPrimaDellEsame() + ' giorno.' : "Dovrai sostenere l'esame tra " +  prenotazione.giorniRimanentiPrimaDellEsame() + ' giorni.' }}</I>

                                            </ion-card-subtitle>
                                        </ion-col>
                                    </ion-row>

                                    <ion-row *ngIf="prenotazione.isEsameOggi()" text-center>
                                        <ion-col color="lightgrey">
                                            <ion-card-subtitle class="countdown" style="color:darkcyan">
                                                <I>Devi sostenere l'esame oggi!</I>
                                            </ion-card-subtitle>
                                        </ion-col>
                                    </ion-row>

                                </ion-row>
                            </ion-grid>
                        </ion-item>

                        <ion-item-options side="end" slot="top">
                            <ion-item-option (click)="cancellaPrenotazione(itemSliding, prenotazione);" color="danger">
                                <ion-icon name="trash" slot="icon-only"></ion-icon>
                            </ion-item-option>
                        </ion-item-options>
                    </ion-item-sliding>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-list>

</ion-content>


<ion-footer no-padding>
    <ion-toolbar>
        <div slot="start">
            <ion-icon [hidden]="!http.getConnected()"
                      name="checkmark"></ion-icon>
            <ion-icon [hidden]=" http.getConnected()" name="close"></ion-icon>
        </div>

        <div *ngIf="sezioni=='disponibili'" class="testo-footer">
            Aggiornato al: {{appelliService.getDataUltimoAggiornamentoAppelliDisponibili()}}
        </div>
        <div *ngIf="sezioni=='prenotati'" class="testo-footer">
            Aggiornato al: {{appelliService.getDataUltimoAggiornamentoAppelliPrenotati()}}
        </div>

        <ion-spinner [hidden]="!appelliService.isAppelliLoading()" slot="end"></ion-spinner>
    </ion-toolbar>
</ion-footer>

