<ion-header>
    <ion-grid fixed no-padding>
        <ion-row *ngIf="!globalData.landscape && globalData.iPhoneX">
            <ion-col>
                <ion-label></ion-label>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-toolbar>
                    <ion-buttons slot="start">
                        <ion-menu-button></ion-menu-button>
                    </ion-buttons>

                    <ion-title>Appelli</ion-title>

                    <ion-buttons slot="end">
                        <ion-back-button *ngIf="ad_id_insegnamento != 0" text="Indietro"></ion-back-button>

                        <ion-button (click)="openFiltri()" *ngIf="mostraIcone()">
                            <ion-icon name="switch"></ion-icon>
                        </ion-button>

                        <ion-button (click)="toogleSearchbar()" *ngIf="mostraIcone()">
                            <ion-icon name="search" style="font-size: 1.5em;"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                </ion-toolbar>
            </ion-col>
        </ion-row>

        <ion-row *ngIf='isSearchbarOpened && gestioneSearchbarAppelli()'>
            <ion-searchbar
                #searchbar
                *ngIf="isSearchbarOpened && gestioneSearchbarAppelli() "
                [(ngModel)]="searchKey"
                placeholder="Cerca"
                showCancelButton="true"
                (ionCancel)="toogleSearchbar()"
                (ngModelChange)="search()">
            </ion-searchbar>
        </ion-row>

        <div style=" display: flex; flex-flow: row nowrap; justify-content: center;">
            <ion-button style="max-width: 10em;" (click)="resetFiltri()" *ngIf="filtro.isActive()" expand="block"
                        size="small">Reset filtri
            </ion-button>
        </div>

        <ion-row>
            <ion-segment [(ngModel)]="sezioni">
                <ion-segment-button value="disponibili">
                    Disponibili {{getNumAppelliDisponibiliAsString()}}</ion-segment-button>
                <ion-segment-button *ngIf="ad_id_insegnamento == 0" value="prenotati">
                    Prenotati {{getNumPrenotazioniAsString()}}</ion-segment-button>
            </ion-segment>
        </ion-row>

    </ion-grid>
</ion-header>


<ion-content [ngSwitch]="sezioni">

    <ion-refresher (ionRefresh)="doRefresh($event)" [disabled]="ad_id_insegnamento != 0" slot="fixed">
        <ion-refresher-content
                pullingIcon="arrow-round-down"
                pullingText="Rilascia per aggiornare"
                refreshingSpinner="crescent"
                refreshingText="Aggiornamento...">
        </ion-refresher-content>
    </ion-refresher>

    <ion-list *ngSwitchCase="'disponibili'">
        <ion-grid *ngIf="appelli?.length == 0 && appelliService.isAppelliDisponibiliLoading()" text-center>
            <ion-row>
                <ion-col>
                    <img class="progress" src="assets/img/progress.gif"/>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col text-center>
                    <ion-title><strong>Aggiornamento in corso</strong></ion-title>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col text-center>
                    <ion-label>Un attimo di pazienza</ion-label>
                </ion-col>
            </ion-row>
        </ion-grid>

        <div *ngIf="appelli?.length == 0 && !appelliService.isAppelliDisponibiliLoading()" text-center>
            <ion-grid>
                <ion-row>
                    <ion-col text-center>
                        <h2 *ngIf="ad_id_insegnamento == 0">Non sono disponibili appelli</h2>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <img src="../../../../assets/img/sad.png" alt="Sad sad sad"/>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>

        <ion-grid *ngIf="appelli?.length > 0">

            <ion-item *ngIf="(searchKey !== '')" text-center lines="none">
                <ion-label style="color:gray">Nessun appello trovato.</ion-label>
            </ion-item>
            <ion-item *ngIf="(filtro.isActive()) && appelliTrovati.length <= 0" text-center lines="none">
                <ion-label style="color:gray">Nessun appello trovato.<br>Si prega di modificare le preferenze inserite.</ion-label>
            </ion-item>

            <div *ngFor="let appello of appelliTrovati; let i = index">
                <ion-item
                        *ngIf="(filtro.idOrdinamento === 0 || filtro.idOrdinamento === 1) && (i===0 || (appelliTrovati[i-1] && appelliTrovati[i].getDataEsame().getTime() !== appelliTrovati[i-1].getDataEsame().getTime() ))">
                    <ion-title text-center style="font-size: 85% ">{{appello.data_ora_app.substring(0, 10)}}</ion-title>
                </ion-item>
                <ion-item
                        *ngIf="(filtro.idOrdinamento === 2 || filtro.idOrdinamento === 3) && (i===0 || (appelliTrovati[i-1] && appelliTrovati[i].descrizione.charAt(0) !== appelliTrovati[i-1].descrizione.charAt(0)))">
                    <ion-title text-center style="font-size: 90% ">{{appello.descrizione.charAt(0)}}</ion-title>
                </ion-item>
                <ion-item
                        *ngIf="(filtro.idOrdinamento === 4 || filtro.idOrdinamento === 5) && (i===0 || (appelliTrovati[i-1] && corsiMap.get(appelliTrovati[i].ad_id).CFU !== corsiMap.get(appelliTrovati[i-1].ad_id).CFU))">
                    <ion-title text-center style="font-size: 90% ">{{corsiMap.get(appello.ad_id).CFU}} CFU</ion-title>
                </ion-item>

                <ion-item
                        *ngIf="(filtro.idOrdinamento === 6 || filtro.idOrdinamento === 7) && (i===0 || (appelliTrovati[i-1] && corsiMap.get(appelliTrovati[i].ad_id).ANNO !== corsiMap.get(appelliTrovati[i-1].ad_id).ANNO))">
                    <ion-title text-center style="font-size: 90% ">{{corsiMap.get(appello.ad_id).ANNO}}° ANNO
                    </ion-title>
                </ion-item>


                <ion-item-sliding #itemSliding>

                    <ion-item>

                        <ion-buttons class="materiale-laterale" style="border-right: 1px solid #dedede; height: 100%;">
                            <ion-button icon-only (click)="presentActionSheet(appello)">
                                <ion-icon name="md-document"></ion-icon>
                            </ion-button>
                        </ion-buttons>


                        <ion-grid>
                            <div class="materiale-laterale">
                                <ion-row>
                                    <ion-col>
                                        <ion-icon name="md-book" style="position: relative; top: 2px;"></ion-icon>
                                        <b> {{ appello.getDescrizionePulita()}}</b>
                                    </ion-col>
                                </ion-row>
                            </div>


                            <ion-row *ngIf="appello.p10_app_des && appello.p10_app_des != appello.descrizione">
                                <ion-col class="countdown">
                                    <div>{{ appello.getDescrizionePulita() }}</div>
                                </ion-col>
                            </ion-row>

                            <ion-row>
                                <ion-col size="1">
                                    <ion-icon name="time"></ion-icon>
                                </ion-col>
                                <ion-col size="9">
                                    <div>{{appello.data_ora_app | slice:0:16}}</div>
                                </ion-col>
                            </ion-row>

                            <ion-row>
                                <ion-col size="1">
                                    <ion-icon name="calendar"></ion-icon>
                                </ion-col>
                                <ion-col size="10">
                                    <div>{{appello.p10_app_data_inizio_iscr | slice:0:10}}
                                        - {{appello.p10_app_data_fine_iscr | slice:0:10}}</div>
                                </ion-col>
                            </ion-row>

                            <ion-row>
                                <ion-col size="1">
                                    <fa-icon [icon]="globalData.faPencilAlt" style="font-size: 0.9em"></fa-icon>
                                </ion-col>
                                <ion-col>
                                    <div>{{appello.tipo_iscr_des}}</div>
                                </ion-col>

                                <ion-col *ngIf="appello.prenotabile_flg==1 && appello.tot_iscritti==0">
                                    <ion-icon name="people" style="color:red"></ion-icon>
                                    &nbsp;&nbsp;{{appello.tot_iscritti}}
                                </ion-col>

                                <ion-col *ngIf="appello.prenotabile_flg==1 && appello.tot_iscritti>0">
                                    <ion-icon name="people"
                                              style="color:green; position: relative; top: 2px;"></ion-icon>
                                    &nbsp;&nbsp;{{appello.tot_iscritti}}
                                </ion-col>
                            </ion-row>


                            <ion-row
                                    *ngIf="!appello.isPrenotabile() && appello.isBeforeApertura()">
                                <ion-col>
                                    <ion-card-subtitle class="countdown" style="color:royalblue">
                                        <I>Mancano {{appello.giorniRimanentiPrimaDellApertura()}} giorni all'apertura
                                            dell'appello</I>
                                    </ion-card-subtitle>
                                </ion-col>
                            </ion-row>

                            <ion-row *ngIf=" appello.p10_app_note" color="lightgrey">
                                <ion-col>
                                    <ion-card-subtitle class="countdown">
                                        <I>NOTA: {{appello.p10_app_note}}</I>
                                    </ion-card-subtitle>
                                </ion-col>
                            </ion-row>


                            <ion-row
                                    *ngIf="appello.isPrenotabile() && appello.isBeforeChiusura()">
                                <ion-col>
                                    <ion-card-subtitle class="countdown" style="color:crimson">
                                        <I>Prenota l'appello entro {{appello.giorniRimanentiPrimaDellaChiusura()}}
                                            giorni</I>
                                    </ion-card-subtitle>
                                </ion-col>
                            </ion-row>

                        </ion-grid>
                    </ion-item>

                    <ion-item-options side="end" slot="top">
                        <ion-item-option color="primary" (click)="goToDettagliCorso(appello)" text-center>
                            Dettagli<br>corso
                        </ion-item-option>

                        <ion-item-option color="danger" (click)="goToMaterialeDidattico(appello)" text-center>
                            Materiale<br>didattico
                        </ion-item-option>

                        <ion-item-option *ngIf="appello.isPrenotabile()" color="secondary"
                                         (click)="prenotaAppello(itemSliding,appello)">
                            Prenota
                        </ion-item-option>
                    </ion-item-options>
                </ion-item-sliding>
            </div>
        </ion-grid>
    </ion-list>


    <ion-list *ngSwitchCase="'prenotati'">
        <ion-grid *ngIf="prenotazioni?.length == 0  && appelliService.isAppelliPrenotatiLoading()" text-center>
            <ion-row>
                <ion-col>
                    <img class="progress" src="assets/img/progress.gif"/>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col text-center>
                    <ion-title><strong>Aggiornamento in corso</strong></ion-title>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col text-center>
                    <ion-label>Un attimo di pazienza</ion-label>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-item *ngIf="prenotazioni?.length == 0 && !appelliService.isAppelliPrenotatiLoading()" text-center>
            <ion-grid>
                <ion-row>
                    <ion-col text-center>
                        <h2>Non sono state effettuate prenotazioni</h2>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>

        <ion-grid *ngIf="prenotazioni?.length > 0" text-center>
            <ion-row>
                <ion-col>
                    <ion-item-sliding #itemSliding *ngFor="let prenotazione of prenotazioni">
                        <ion-item>
                            <ion-grid>
                                <ion-row>
                                    <ion-col text-wrap>
                                        <ion-icon name="bookmarks"></ion-icon>
                                        <b> {{ prenotazione.getDescrizionePulita() }}</b>
                                    </ion-col>
                                </ion-row>
                                <ion-row *ngIf="prenotazione.app_des && prenotazione.app_des != prenotazione.ad_des">
                                    <ion-col text-wrap>
                                        <div>{{ prenotazione.getDescrizionePulita() }}</div>
                                    </ion-col>
                                </ion-row>

                                <ion-row>
                                    <ion-col size="1">
                                        <ion-icon name="person"></ion-icon>
                                    </ion-col>
                                    <ion-col size="11">
                                        <div>{{ prenotazione.presidente }}</div>
                                    </ion-col>
                                </ion-row>

                                <ion-row>
                                    <ion-col size="1">
                                        <ion-icon name="time"></ion-icon>
                                    </ion-col>
                                    <ion-col size="11">
                                        <div>{{prenotazione.data_ora_app  | slice:0:16}}</div>
                                    </ion-col>
                                </ion-row>

                                <ion-row>
                                    <ion-col size="1">
                                        <ion-icon name="settings"></ion-icon>
                                    </ion-col>
                                    <ion-col>
                                        {{prenotazione.tipo_iscr}}
                                    </ion-col>
                                    <ion-col>
                                        <ion-icon name="person"
                                                  style="color:green; position: relative; top: 2px;"></ion-icon>
                                        &nbsp;{{prenotazione.posiz}}°
                                    </ion-col>
                                </ion-row>


                                <ion-row>
                                    <ion-row *ngIf="prenotazione.isAfterEsame()" text-center>
                                        <ion-col color="lightgrey">
                                            <ion-card-subtitle class="countdown" style="color:green"><I>L'esame è stato
                                                sostenuto {{prenotazione.giorniPassatiDopoEsame()}} giorni fa.</I>
                                            </ion-card-subtitle>
                                        </ion-col>
                                    </ion-row>

                                    <ion-row *ngIf="prenotazione.isBeforeEsame()" text-center>
                                        <ion-col color="lightgrey">
                                            <ion-card-subtitle class="countdown" style="color:darkcyan"><I>Dovrai
                                                sostenere l'esame tra {{prenotazione.giorniRimanentiPrimaDellEsame()}}
                                                giorni.</I>
                                            </ion-card-subtitle>
                                        </ion-col>
                                    </ion-row>
                                </ion-row>
                            </ion-grid>
                        </ion-item>

                        <ion-item-options side="end" slot="top">
                            <ion-item-option (click)="cancellaPrenotazione(itemSliding, prenotazione);" color="danger">
                                <ion-icon name="trash" slot="icon-only"></ion-icon>
                            </ion-item-option>
                        </ion-item-options>
                    </ion-item-sliding>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-list>

</ion-content>


<ion-footer no-padding>
    <ion-toolbar>
        <div slot="start">
            <ion-icon [hidden]="!http.getConnected()"
                      name="checkmark"></ion-icon>
            <ion-icon [hidden]=" http.getConnected()" name="close"></ion-icon>
        </div>

        <div *ngIf="sezioni=='disponibili'" class="testo-footer">
            Aggiornato al: {{sync.getDataUltimoAggiornamento(1)}}
        </div>
        <div *ngIf="sezioni=='prenotati'" class="testo-footer">
            Aggiornato al: {{sync.getDataUltimoAggiornamento(10)}}
        </div>

        <ion-spinner [hidden]="!appelliService.isAppelliLoading()" slot="end"></ion-spinner>
    </ion-toolbar>
</ion-footer>

