ion-item {
  --min-height: 0.9em;
}

.button{
  max-width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin: 0.5em auto 1em auto;
  padding-bottom: 0;
  ion-button{
    width: 20em;
    height: auto;
  }

}

.buttons{
  margin-left: 20em;
  margin-right: 20em;
  padding-bottom: 0;
  margin-bottom: 0;
  @media screen and (max-width: 1142px) {
    margin: auto auto 0 auto;
  }
}
.preferenze{
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.text{
  font-size: 1.5em;
  padding-top: 1em;
  padding-left: 2.5em;
  text-align: center;
  width: 100%;
  @media screen and (max-width: 440px) {
    padding-left: 2em;
  }
}
.exit{
  margin-top: 1em;
  margin-right: 1em;

}
ion-list{
  margin-top: 0;
  padding-top: 0;
}
