<ion-content>
    <ion-list>
        <ion-radio-group [(ngModel)]="sourcePage.idOrdinamento" (ngModelChange)="updateSourcePage()">
            <ion-list-header text-center>
                Ordina per:
            </ion-list-header>
            <ion-item>
                <ion-label>Alfabetico</ion-label>
                <ion-radio [value]="2"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label>Anno</ion-label>
                <ion-radio [value]="6"></ion-radio>
            </ion-item>
            <ion-item><ion-label>Voto</ion-label>
                <ion-radio [value]="4"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label>CFU</ion-label>
                <ion-radio [value]="8"></ion-radio>
            </ion-item>
        </ion-radio-group>
    </ion-list>

    <ion-select [(ngModel)]="ordinamentoOffset" (ngModelChange)="updateSourcePage()" cancelText="Annulla">
        <ion-select-option value="0">Crescente</ion-select-option>
        <ion-select-option value="1">Decrescente</ion-select-option>
    </ion-select>

    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-title text-center>Filtra per:</ion-title>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row justify-content-center align-items-center>
            <ion-col>
                <ion-item>
                    <ion-text>Esami superati</ion-text>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item>
                    <ion-toggle align-items-center [(ngModel)]="sourcePage.filtroSuperatiAttivo" (ngModelChange)="updateSourcePage()"></ion-toggle>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-text>Esami non superati</ion-text>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item>
                    <ion-toggle align-items-center [(ngModel)]="sourcePage.filtroNonSuperatiAttivo" (ngModelChange)="updateSourcePage()"></ion-toggle>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-text>Anno</ion-text>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-select [(ngModel)]="sourcePage.filtroPerAnno" (ngModelChange)="updateSourcePage()" cancelText="Annulla" value="0">
                    <ion-select-option value="-1">Nessuno</ion-select-option>
                    <ion-select-option value="1">1° Anno</ion-select-option>
                    <ion-select-option value="2">2° Anno</ion-select-option>
                    <ion-select-option value="3">3° Anno</ion-select-option>
                    <ion-select-option value="4">4° Anno</ion-select-option>
                    <ion-select-option value="5">5° Anno</ion-select-option>
                    <ion-select-option value="6">6° Anno</ion-select-option>
                </ion-select>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>

            <ion-col>
                <ion-button style="width:100%" (click)="resetFiltri()"><ion-icon name="refresh"></ion-icon> Reset</ion-button>
            </ion-col>
            <ion-col>
                <ion-button (click)="closeFiltri()" style="width:100%" color="danger"><ion-icon name="close"></ion-icon> Chiudi</ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col >
                <ion-button style="width: 100%"><ion-icon name="bookmark"></ion-icon> Memorizza</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>


