<ion-card>

  <ion-list>
    <ion-radio-group>
      <ion-list-header>
        Ordina esami per:
      </ion-list-header>

      <ion-item>
        <ion-button><ion-icon name="arrow-up"></ion-icon></ion-button>
        <ion-label>Alfabetico</ion-label>
        <ion-radio value="0"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-button><ion-icon name="arrow-up"></ion-icon></ion-button>
        <ion-label>Anno</ion-label>
        <ion-radio value="2"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-button><ion-icon name="arrow-up"></ion-icon></ion-button>
        <ion-label>Voto</ion-label>
        <ion-radio value="4"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-button><ion-icon name="arrow-up"></ion-icon></ion-button>
        <ion-label>CFU</ion-label>
        <ion-radio value="6"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item><ion-title text-center>Filtra per:</ion-title></ion-item>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center align-items-center>
      <ion-col>
        <ion-item><ion-text>Esami superati</ion-text></ion-item>
      </ion-col>
      <ion-col>
        <ion-item><ion-toggle align-items-center></ion-toggle></ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item><ion-text>Esami non superati</ion-text></ion-item>
      </ion-col>
      <ion-col>
        <ion-item><ion-toggle ></ion-toggle></ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item><ion-text>Anno</ion-text></ion-item>
      </ion-col>
      <ion-col>
        <ion-select value="0" >
          <ion-select-option value="0">Nessuno</ion-select-option>
          <ion-select-option value="1">1Anno</ion-select-option>
          <ion-select-option value="2">2Anno</ion-select-option>
          <ion-select-option value="3">3Anno</ion-select-option>
          <ion-select-option value="4">4Anno</ion-select-option>
          <ion-select-option value="5">5Anno</ion-select-option>
          <ion-select-option value="6">6Anno</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-card>
