<ion-header>
  <ion-toolbar>
    <ion-title>Piano di studio</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-searchbar [(ngModel)]="searchKey"></ion-searchbar>
    <ion-button fill="clear" slot="end"><ion-icon slot="icon-only" name="search"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-refresher slot="fixed" [disabled]="false" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Aggiornamento...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-button (click)="ordina(1)">Ordina alfabetico crescente</ion-button>
  <ion-button (click)="ordina(2)">Ordina alfabetico decrscente</ion-button>
  <ion-button (click)="ordina(3)">Ordina voto crescente</ion-button>
  <ion-button (click)="ordina(4)">Ordina voto descrescente</ion-button>
  <ion-button (click)="ordina(5)">Ordina anno crescente</ion-button>
  <ion-button (click)="ordina(6)">Ordina anno decrscente</ion-button>

  <ion-list>
    <ion-item-sliding *ngFor="let corso of corsi">
      <ion-item *ngIf="corso.nome.toString().toLowerCase().search(searchKey.toLowerCase())>=0">{{corso.nome}}   Anno:{{corso.anno}}   Voto{{corso.voto}}</ion-item>

      <ion-item-options>
        <ion-item-option>
          Dettagli corso
        </ion-item-option>

        <ion-item-option color="danger">
          Materiale didattico
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>



  </ion-list>
</ion-content>
