
@import url('https://fonts.googleapis.com/css?family=Gaegu&display=swap');


ion-item {
  --padding-start:0px;
  --inner-padding-end:0px;
}

.nome-esame{
  font-size: 1.0em;

}

.voto {
  font-family: 'Gaegu', cursive;
  font-size: 1.1em;
  font-weight: bold;
  text-align: right;
}

.superato {
  background-color: #c6f2b3;
  padding: 1em;
}

.da-sostenere {
  background-color: rgb(255, 255, 255);
  padding: 1em;
}

.buttonLeft {
  border-right: 1px solid #dedede;
  height: 100%;

}
.reset{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.reset-filtri{
  max-width: 10em;
}
