<ion-header>
    <ion-grid no-padding>
        <ion-row *ngIf="!globalData.landscape && globalData.iPhoneX">
            <ion-col>
                <ion-label></ion-label>
            </ion-col>
        </ion-row>
        <ion-row no-padding>
            <ion-toolbar>
                <ion-buttons slot="start">
                    <ion-menu-button></ion-menu-button>
                </ion-buttons>
                <ion-title>
                    Piano di studio
                </ion-title>

                <ion-buttons slot="end">
                    <ion-button  color="#8c8c8c"  font-size="small" size="small" *ngIf="filtro.filtroSuperatiAttivo || filtro.filtroNonSuperatiAttivo || filtro.filtroPerAnno > 0">
                        Reset filtri
                    </ion-button>

                    <ion-button icon-only (click)="openFiltri()">
                        <ion-icon name="switch" color="primary"></ion-icon>
                    </ion-button>  <!-- icona precedente "funnel" -->

                    <ion-button icon-only (click)="isSearchbarOpened = !isSearchbarOpened">
                        <ion-icon name="search" color="primary" style="font-size: 1.5em;"></ion-icon>
                    </ion-button>
                </ion-buttons>
            </ion-toolbar>
        </ion-row>
        <ion-row *ngIf='isSearchbarOpened'>
            <ion-searchbar *ngIf='isSearchbarOpened'
                           [(ngModel)]="searchKey"
                           placeholder="Cerca"
                           showCancelButton="true" (ionCancel)="hideSearchbar()"
                           animated="true"
                           (ngModelChange)="search()"></ion-searchbar>
        </ion-row>
    </ion-grid>
</ion-header>


<ion-content fixed no-padding>
    <ion-refresher slot="fixed" [disabled]="false" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="Pull to refresh"
                refreshingSpinner="circles"
                refreshingText="Aggiornamento...">
        </ion-refresher-content>
    </ion-refresher>


    <ion-list *ngIf="corsi">
        <div *ngFor="let corso of corsiTrovati; let i = index">
            <ion-item *ngIf="(filtro.idOrdinamento === 2 || filtro.idOrdinamento === 3) && (i===0 || (corsi[i-1] && corsi[i].ANNO !== corsi[i-1].ANNO))">
                {{corso.ANNO}}o ANNO
            </ion-item>
            <ion-item *ngIf="(filtro.idOrdinamento === 4 || filtro.idOrdinamento === 5) && (i===0 || (corsi[i-1] && corsi[i].CFU !== corsi[i-1].CFU))">
                {{corso.CFU}} CFU
            </ion-item>

            <ion-item-sliding *ngFor="let corso of corsiTrovati">
                <ion-item (click)="presentActionSheet(corso)">
                    <ion-grid fixed no-padding
                              [ngClass]="{'superato' : corso.VOTO && corso.LODE== 0, 'superato-lode' : corso.VOTO && corso.LODE == 1, 'idoneo' : corso.GIUDIZIO, 'da-sostenere' : corso.STATO !== 'S' }">
                        <ion-row no-padding> <ion-icon name="md-book"></ion-icon>&nbsp;<b>{{corso.DESCRIZIONE}}</b></ion-row>
                        <ion-row>
                            <ion-col color="lightgrey" no-padding>
                              &nbsp; &nbsp; &nbsp;<fa-icon [icon]="globalData.faCoins"></fa-icon>
                              &nbsp;  CFU;&nbsp; {{corso.CFU}}

                                <ion-col *ngIf="corso.STATO === 'S'">
                                    <fa-icon [icon] ="globalData.faCalendarDay" ></fa-icon>  &nbsp;{{corso.DATA_ESAME}}
                                </ion-col>

                            </ion-col>

                            <ion-col *ngIf="corso.STATO !== 'S'"></ion-col>
                            <ion-col size="4" *ngIf="corso.VOTO || corso.VALUTAZIONE=='G'" align-self-center="true">
                                <div *ngIf="corso.VOTO && corso.LODE==0" class="voto">{{corso.VOTO | slice:0:3}}</div>
                                <div *ngIf="corso.VOTO && corso.LODE==1" class="voto"><ion-icon name="md-trophy"></ion-icon>&nbsp;30L</div>
                                <div *ngIf="!corso.VOTO" class="voto">{{corso.GIUDIZIO | slice:0:3}}</div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>

                <ion-item-options>
                    <ion-item-option (click)="goToDettagliCorso(corso)" text-center>
                        Dettagli<br>corso
                    </ion-item-option>
                    <ion-item-option color="danger" (click)="goToMaterialeDidattico(corso)" text-center>
                        Materiale<br>didattico
                    </ion-item-option>
                    <ion-item-option color="secondary" *ngIf="!corso.isSuperato()" (click)="goToAppelli(corso)" text-center>
                        Appelli
                    </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
        </div>
    </ion-list>
</ion-content>




<ion-footer>
  <ion-toolbar>
   <ion-buttons slot="start">
      <ion-spinner [hidden]="!isLoading() || !http.getConnected()"></ion-spinner>
      <ion-icon [hidden]="isLoading() || !http.getConnected()" name="checkmark" ></ion-icon>
      <ion-icon [hidden]="isLoading() || http.getConnected()" name="close"></ion-icon>
    </ion-buttons>

    <div class="testo-footer" text-center>
      Aggiornato al: {{dataAggiornamento}}
     </div>
    </ion-toolbar>
</ion-footer>
