ion-item {
  --padding-start:0px;
  --inner-padding-end:0px;
}

.nome-esame{
  font-size: 1.0em;

}

.voto {
  font-size: 1.0em;
  font-weight: bold;
  text-align: right;
}

.superato {
  background-color: #c6f2b3;
  padding: 1em;
}

.superato-lode {
  background-color: #c6f2b3;
  padding: 1em;
}

.idoneo {
  background-color: #c6f2b3;
  padding: 1em;
}

.da-sostenere {
  background-color: rgb(255, 255, 255);
  padding: 1em;
}
