// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.main-menu-title {
  text-align: right;
}

.progress {
  max-width: 200px;
  margin: auto;
}

.esame{
  vertical-align: top;
  text-align: left;
  font-size: 0.8em;
}

.testo-footer{
  vertical-align: center;
  text-align: center;
  font-size: 0.9em;
}

.countdown{
  font-size: 0.7em;
}

.medie ion-col div {
  background-color: #f0f5ff;
  border: 1px solid #e6e9ee;
  border-radius: 1px;
  padding: 2px;
  text-align: center;
  font-size: 0.9em;
}

.headerMedie ion-col div {
  background-color: #8db1ff;
}

.headerMedie div {
  background-color: #8db1ff;
}

.logo {
  max-width: 200px;
  margin: auto;
}

.logo-mini {
  max-width: 50px;
  margin: auto;
}


@media(min-width:200px) {
  .connected {
    background-color: #4cae4c;
  }

  .disconnected {
    background-color: #FF0000;
  }

  .dati-esame {
    font-size: 0.7em;
  }

  .logo {
    max-width: 180px;
  }

  .logo-mini {
    max-width: 50px;
  }
}

@media(min-width:320px) {

  .footer-icon {
    width: 24px;
    vertical-align: middle;
  }

  .logo {
    max-width: 200px;
  }

  .logo-mini {
    max-width: 60px;
  }

  .mic {
    max-width: 50px;
    text-align: right;
    horiz-align: right;
  }

}

@media(min-width:400px) {
  .voto{
    font-size: 1.2em;
  }

  .dati-esame {
    font-size: 0.8em;
  }

  .testo-footer{
    font-size: 1em;
  }

  .logo {
    max-width: 320px;
  }

  .mic {
    max-width: 100px;
  }
}

@media(min-width:640px) {

  .voto{
    font-size: 1.4em;
  }

  .dati-esame {
    font-size: 1.0em;

  }

  .logo {
    max-width: 350px;
  }

}

/*
ion-icon {
  &[class*="unimol-"] {
    // Instead of using the font-based icons
    // We're applying SVG masks
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 1em;
    height: 1em;
  }
  // custom icons
  &[class*="logo"] {
    mask-image: url(./assets/img/unimol.svg);
  }
  &[class*="unimol-filter"] {
    mask-image: url(./assets/icon/filter.svg);
  }
  &[class*="unimol-connected"] {
    mask-image: url(./assets/icon/connected.svg);
  }
  &[class*="unimol-disconnected"] {
    mask-image: url(./assets/icon/disconnected.svg);
  }
}
*/


.gestore-lista-piano-di-studio-css .modal-wrapper {
  height: 85%;
  width: 50%;
  position: absolute;
  display: block;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 10px 3px rgba(0,0,0,0.52);
  -moz-box-shadow: 3px 3px 10px 3px rgba(0,0,0,0.52);
  box-shadow: 3px 3px 10px 3px rgba(0,0,0,0.52);
  @media screen and (max-width: 768px) {
    height: 85%;
    width: 80%;
  }
  @media screen and (max-width: 450px){
    height: 32.5em;
    width: 80%;
  }
}
.gestore-lista-appelli-disponibili-css .modal-wrapper {
  height: 85%;
  width: 50%;
  position: absolute;
  display: block;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 10px 3px rgba(0,0,0,0.52);
  -moz-box-shadow: 3px 3px 10px 3px rgba(0,0,0,0.52);
  box-shadow: 3px 3px 10px 3px rgba(0,0,0,0.52);
  @media screen and (max-width: 768px) {
    height: 29em;
    width: 78%;
  }
  @media screen and (max-width: 450px){
    height: 32.5em;
    width: 80%;
  }
}

$primary_color: #3274a2;   //#3880ff colore precedente

.iconaNote{
  color: $primary_color;
  font-size: 1.5em;
  position: relative;
  top: 5px;
}



