<ion-header>
    <ion-grid no-padding>
        <ion-row *ngIf="!globalData.landscape && globalData.iPhoneX">
            <ion-col>
                <ion-label></ion-label>
            </ion-col>
        </ion-row>
        <ion-row no-padding>
            <ion-col no-padding>
                <ion-toolbar>
                    <ion-buttons slot="start">
                        <ion-menu-button></ion-menu-button>
                    </ion-buttons>
                    <ion-title>
                        Materiale Didattico
                    </ion-title>
                    <ion-buttons slot="end">

                        <ion-button icon-only (click)="toogleSearchbar()">
                            <ion-icon name="search" style="font-size: 1.5em"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                </ion-toolbar>
            </ion-col>
        </ion-row>

        <ion-row *ngIf='isSearchbarOpened'>
            <ion-searchbar #searchbar
                           *ngIf="isSearchbarOpened"
                           [(ngModel)]="searchKey"
                           placeholder="Cerca"
                           showCancelButton="true"
                           animated="true"
                           (ionCancel)="toogleSearchbar()"
                           (ngModelChange)="search()">
            </ion-searchbar>
        </ion-row>

    </ion-grid>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item-sliding *ngFor="let allegato of allegatiScaricati">
            <ion-item>
                id: {{allegato.id}}<br>
                filename: {{allegato.filename}}
            </ion-item>

            <ion-item-options side="end">
                <ion-item-option color="primary">
                    Apri
                </ion-item-option>
                <ion-item-option color="danger">
                    Elimina
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
