<ion-header>
    <ion-grid no-padding>
        <ion-row *ngIf="!globalData.landscape && globalData.iPhoneX">
            <ion-col>
                <ion-label></ion-label>
            </ion-col>
        </ion-row>
        <ion-row no-padding>
            <ion-col no-padding>
                <ion-toolbar>
                    <ion-buttons slot="start">
                        <ion-menu-button></ion-menu-button>
                    </ion-buttons>
                    <ion-title class="nomePagina">
                        Materiale Didattico
                    </ion-title>
                    <ion-buttons slot="end">
                        <ion-button icon-only (click)="toogleSearchbar()">
                            <ion-icon name="search" style="font-size: 1.5em"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                </ion-toolbar>
            </ion-col>
        </ion-row>

        <ion-row *ngIf='isSearchbarOpened'>
            <ion-searchbar #searchbar
                           *ngIf="isSearchbarOpened"
                           [(ngModel)]="searchKey"
                           placeholder="Cerca"
                           showCancelButton="true"
                           animated="true"
                           (ionCancel)="toogleSearchbar()"
                           (ngModelChange)="search()">
            </ion-searchbar>
        </ion-row>

    </ion-grid>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" [disabled]="false" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
                pullingIcon="arrow-round-down"
                pullingText="Rilascia per aggiornare"
                refreshingSpinner="crescent"
                refreshingText="Aggiornamento...">
        </ion-refresher-content>
    </ion-refresher>

    <ion-grid *ngIf="allegatiScaricati.length <= 0" text-center>
        <ion-row>
            <ion-col>
                <ion-icon name="warning" color="warning" style="font-size: 5em; margin-top: 1em"></ion-icon>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col text-center>
                <ion-title><strong>Non è presente materiale didattico in memoria</strong></ion-title>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col text-center>
                <ion-label>Trova subito qualcosa da scaricare</ion-label>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col text-center>
                <ion-button (click)="presentModal()">Apri lista corsi</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-list>
        <div *ngFor="let allegato of allegatiScaricatiTrovati; let i = index">
            <ion-item *ngIf="(corsiMap) && (i===0 || (allegatiScaricatiTrovati[i-1] && allegatiScaricatiTrovati[i-1].AD_ID != allegatiScaricatiTrovati[i].AD_ID))">
                <strong class="insegnamento">{{corsiMap.get(allegato.AD_ID.toString()).DESCRIZIONE.toLocaleUpperCase()}}</strong>
            </ion-item>

            <ion-item-sliding>
                <ion-item (click)="presentActionSheet(allegato)">
                    <ion-grid>
                        <ion-row>
                            <ion-col size="2" align-self-center="true">
                                <img src="{{matDidatticoService.getUrlIconaAllegato(allegato)}}">
                            </ion-col>
                            <ion-col>
                                <ion-grid>
                                    <ion-row>
                                        <ion-col size="12" >
                                          <ion-row>
                                            <strong  no-padding class="titolo">{{allegato.FILENAME}}</strong>
                                          </ion-row>
                                        </ion-col>
                                    </ion-row>
                                    <ion-row>
                                        <ion-col>
                                            <ion-icon name="person" class="icon"></ion-icon>{{allegato.AUTORE}}
                                        </ion-col>
                                    </ion-row>
                                </ion-grid>
                            </ion-col>
                        </ion-row>

                    </ion-grid>
                </ion-item>

                <ion-item-options side="end">
                    <ion-item-option color="primary" (click)="presentAlertConfermaApertura(allegato)">
                        Apri
                    </ion-item-option>
                    <ion-item-option color="danger" (click)="presentAlertConfermaRimozione(allegato)">
                        Elimina
                    </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
        </div>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="presentModal()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
