<ion-header>
    <ion-grid no-padding>
        <ion-row *ngIf="!globalData.landscape && globalData.iPhoneX">
            <ion-col>
                <ion-label></ion-label>
            </ion-col>
        </ion-row>
        <ion-row no-padding>
            <ion-col no-padding>
                <ion-toolbar>
                    <ion-buttons slot="start">
                        <ion-menu-button></ion-menu-button>
                    </ion-buttons>
                    <ion-title class="nomePagina">
                        Materiale Didattico
                    </ion-title>
                    <ion-buttons slot="end">
                        <ion-button icon-only (click)="toogleSearchbar()">
                            <ion-icon name="search" style="font-size: 1.5em"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                </ion-toolbar>
            </ion-col>
        </ion-row>

        <ion-row *ngIf='isSearchbarOpened'>
            <ion-searchbar #searchbar
                           *ngIf="isSearchbarOpened"
                           [(ngModel)]="searchKey"
                           placeholder="Cerca"
                           showCancelButton="true"
                           animated="true"
                           (ionCancel)="toogleSearchbar()"
                           (ngModelChange)="search()">
            </ion-searchbar>
        </ion-row>

    </ion-grid>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" [disabled]="false" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
                pullingIcon="arrow-round-down"
                pullingText="Rilascia per aggiornare"
                refreshingSpinner="crescent"
                refreshingText="Aggiornamento...">
        </ion-refresher-content>
    </ion-refresher>

    <ion-grid *ngIf="allegatiScaricati?.length <= 0" text-center text-wrap>
        <ion-row>
            <ion-col>
                <ion-icon name="warning" color="warning" style="font-size: 5em; margin-top: 1em"></ion-icon>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col text-center text-wrap>
                <ion-label text-wrap style="font-size: 1.2em"><strong>Non è presente materiale didattico in memoria</strong></ion-label>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col text-center>
                <ion-button (click)="presentModal()">Visualizza lista corsi</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-list *ngIf="allegatiScaricatiTrovati">
        <div *ngFor="let allegato of allegatiScaricatiTrovati; let i = index">
            <ion-item *ngIf="(corsiMap) && (i===0 || (allegatiScaricatiTrovati[i-1] && allegatiScaricatiTrovati[i-1].AD_ID != allegatiScaricatiTrovati[i].AD_ID))" >
                <ion-icon name="md-book" class="iconTag"></ion-icon>
                <strong  class="insegnamento" >{{corsiMap.get(allegato.AD_ID).DESCRIZIONE.toLocaleUpperCase()}}</strong>
            </ion-item>

            <ion-item-sliding #ionItemSliding>
                <ion-item (click)="presentActionSheet(allegato)">
                    <ion-grid>
                        <ion-row>
                            <ion-col size="2" align-self-center="true">
                                <img src="{{matDidatticoService.getUrlIconaAllegato(allegato)}}">
                            </ion-col>
                            <ion-col>
                                <ion-grid>

                                    <ion-row>
                                        <ion-col size="12" >
                                          <ion-row>
                                            <strong  no-padding class="titolo">{{allegato.TITOLO.toUpperCase()}}</strong>
                                          </ion-row>
                                        </ion-col>
                                    </ion-row>

                                    <ion-row>
                                        <ion-col class="testo">
                                            <ion-icon name="person" class="icon"></ion-icon> <b>Docente</b><br>
                                            <I>{{allegato.AUTORE}}</I>
                                        </ion-col>
                                    </ion-row>

                                    <ion-row class="testo" style="color:gray">
                                        <ion-col>
                                            Inserito il: {{allegato.DATA_INS}}
                                        </ion-col>
                                    </ion-row>

                                </ion-grid>
                            </ion-col>
                        </ion-row>

                    </ion-grid>
                </ion-item>

                <ion-item-options side="end">
                    <ion-item-option color="primary" (click)="presentAlertConfermaApertura(allegato, ionItemSliding);">
                        <ion-icon name="easel"></ion-icon>
                        Apri<br>file
                    </ion-item-option>
                    <ion-item-option color="danger" (click)="presentAlertConfermaRimozione(allegato, ionItemSliding)">
                        <ion-icon name="trash"></ion-icon>
                        Rimuovi<br>file
                    </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
        </div>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
        <ion-fab-button (click)="presentModal()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>

<ion-footer>
    <ion-toolbar text-center>
        <ion-buttons slot="start">
            <ion-icon [hidden]="!http.getConnected()"  name="checkmark"></ion-icon>
            <ion-icon [hidden]="http.getConnected()"  name="close"></ion-icon>
        </ion-buttons>

        <div class="testo-footer">
            Aggiornato al: {{this.matDidatticoService.getDataUltimoAggiornamentoString()}}
        </div>

        <ion-buttons slot="end">
            <ion-spinner *ngIf="this.matDidatticoService.isLoading()" name="crescent"></ion-spinner>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>
